/**
 *style/style.css
 *
 * /// - Mobile-First Approach -///
 *Index
 *
 * - Variables (17 - 53)
 * - General (55 - 135)
 * - Header (137 - 303)
 * - Portfolio (305 - 349)
 * - Description (351 - 406)
 * - Footer (408 - 514)
 **/



/***
 * 
 * Variables
 *
***/

:root {
    /* Typhography */

    /** Fonts */
    --ff-general: 'Red Hat Display', sans-serif;

    /*** Fontsizes */
    --fs-h1: 2.5rem;
    --fs-h2: 2rem;
    --fs-h3: 1rem;
    --fs-body: 1rem;
    --fs-btn: 1rem;

    /*** Line heights */
    --lh-h1: 2.75rem;
    --lh-h2: 2.25rem;
    --lh-h3: 1.625rem;
    --lh-body: 1.625rem;
   
     /* Colors */
    --clr-turquoise: #4d96a9;
    --clr-turquoise--light: #8fe3f9;
    --clr-violet: #855fb1;
    --clr-violet--light: #d9b8ff;
    --clr-dark: #28283d;
    --clr-grey: #87879d;
    --clr-light: #fafafa;

    --btn1-hover: #71c0d4;
    --btn2-hover: #b18bdd;
}

/***
 * 
 * general
 *
***/

*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
}

h1,
h2,
h3,
p,
span,
a {
    font-family: var(--ff-general);
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    width: 100%;
}

.btn {
    width: 12.0625rem;
    height: 3.625rem;
    margin: 0 auto 1rem;
    font-size: var(--fs-btn);
    font-weight: 600;
    color: var(--clr-light);
    text-decoration: none;
    border-radius: 50px;
    padding-top: 1rem;
}

.numbering {
    font-family: var(--ff-general);
    width: 3.5rem;
    height: 3.5rem;
    border: 1px solid rgba(135, 135, 157, 0.25);
    border-radius: 1.8rem;
    font-weight: 900;
    line-height: 1.625rem;
    color: var(--clr-grey);
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.9rem 1.19rem;
    position: relative;
    margin: 9.25rem auto 4rem;
    z-index: 1;
}

.line {
    width: 0.02rem;
    height: 5.25rem;
    position: absolute;
    top: -5.8rem;
    color: var(--clr-grey);
    opacity: 25%;
}

/*Desktop-Version*/

@media (min-width: 1440px) {
    .numbering:nth-of-type(1) {
        margin-top: -11rem;
    }
}

/***
 * 
 * header
 *
***/

.logo {
    margin-top: 3rem;
    margin-bottom: 3rem;
}

.header-image--container {
    display: flex;
    justify-content: space-around;
    overflow-x: hidden;
    margin-bottom: 2.2rem;
    padding-bottom: 5rem;
}

.header-image {
    width: 100%;
    max-width: 100%;
    position: relative;
}

.header-image--left {
    left: -16px;
}

.header-image--right{
    right: -16px;
}

/*Desktop-Version*/

@media (min-width: 1440px) {
    .logo {
        position: relative;
        top: -10px;
        margin-top: 5rem;
    }

    .header-image {
        width: 27%;
        overflow: hidden;
    }
    
    .header-image--left {
        left: -200px;
    }
    
    .header-image--right {
        top: 65px;
        right: -200px;
    }
}

@media (min-width: 1600px) {
    .header-image--left {
        left: -250px;
    }
    
    .header-image--right {
        right: -250px;
    }
}

.header-txt--container {
    display: flex;
    flex-direction: column;
    position: relative;
}

.header-title {
    width: 70%;
    margin: 0 auto 2rem;
    color: var(--clr-dark);
    font-size: var(--fs-h1);
    font-weight: 900;
    line-height: var(--lh-h1);
}

.header-txt {
    width: 95%;
    margin: 0 auto 2.5rem;
    max-width: 327px;
    color: var(--clr-grey);
    font-size: var(--fs-body);
}

.btn-container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.btn-download {
    background: var(--clr-turquoise);
}

.btn-download:hover {
    background-color: var(--btn1-hover);
}

.highlight {
    color: var(--clr-turquoise--light)
}

.btn-info {
    width: 8.6875rem;
    background: var(--clr-violet);
    margin-bottom: 1rem;
}

.btn-info:hover {
    background-color: var(--btn2-hover);
}

/*Tablet-Version*/

@media (min-width: 768px) {
    .header-title {
        font-size: 3rem;
        line-height: 3rem;
        max-width: 339px;
    }

    .header-txt {
        max-width: 457px;
        margin-bottom: 1rem;
    }

    .btn-container {
        flex-direction: row;
        max-width: 750px;
        padding-top: 1rem;
        margin: 0 auto;
    }

    .btn-download{
        margin-right: 1rem;
    }
}

/*Desktop-Version*/

@media (min-width: 1440px) {
    .header-txt--container {
        top: -350px;
    }

    .header-title {
        font-size: 4rem;
        line-height: 4rem;
        max-width: 445px;
    }

    .header-txt {
        font-size: 1.125rem;
        max-width: 540px;
    }

    .btn-container {
        position: relative;
        top: -350px;
        margin-bottom: 0;
    }
}

/***
 * 
 * portfolio
 *
***/

.portfolio-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-bottom: 2rem;
}

.portfolio-item {
    border-radius: 15px;
    width: 40%;
    height: 40%;
}

.portfolio-item + .portfolio-item {
    margin-bottom: 2rem;
}

/*Tablet-Version*/

@media (min-width: 768px) {
    .portfolio-container {
        flex-wrap: nowrap;
        padding: 0 2rem;        
    }

    .portfolio-item {
        width: 23%;
        height: 23%;
    }
}

/*Desktop-Version*/

@media (min-width: 1440px) {
    .portfolio-container {
        padding: 0 10rem;
    }
}

/***
 * 
 * description
 *
***/

.description-overline {
    font-size: var(--fs-h3);
    text-transform: uppercase;
    letter-spacing: 4px;
    color: var(--clr-turquoise);
}

.description-title {
    font-size: var(--fs-h2);
    line-height: var(--lh-h2);
    color: var(--clr-dark);
    width: 90%;
    max-width: 327px;
    margin: 0 auto 1rem;
}

.description-txt {
    font-size: var(--fs-body);
    color: var(--clr-grey);
    width: 94%;
    max-width: 327px;
    margin: 0 auto;
}

/*Tablet-Version*/

@media (min-width: 768px) {
    .description-container {
        margin: 0 auto;
        max-width: 573px;
    }

    .description-title {
        font-size: 2.5rem;
        line-height: 2.75rem;
        max-width: 445px;
    }

    .description-txt {
        max-width: 573px;
    }
}

/*Desktop-Version*/

@media (min-width: 1440px) {
    .description-txt {
        max-width: 540px;
    }
}

/***
 * 
 * footer
 *
***/

.footer-container {
    display: flex;
    flex-direction: column;
    position: relative;
    background: linear-gradient(rgba(77,150,168,0.9), rgba(77,150,168,0.9)), url(../assets/mobile/image-footer.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top center;
    padding-bottom: 5.5rem 1.5rem 4.5rem 1.5rem;
    margin-top: -6rem;
}

.footer-title {
    font-size: var(--fs-h2);
    color: var(--clr-light);
    max-width: 327px;
    margin: 7rem auto 1.5rem;
}

.footer-txt {
    font-size: var(--fs-body);
    line-height: var(--lh-body);
    color: var(--clr-light);
    width: 79%;
    max-width: 327px;
    margin: 0 auto 2rem;
}

.btn-download--footer {
    background-color: var(--clr-violet);
    margin: 0 auto 5rem;
}

.btn-download--footer:hover {
    background-color: var(--btn2-hover)
}

.highlight-footer {
    color: var(--clr-violet--light);
}

/*Tablet-Version*/

@media (min-width: 768px) {
    .footer-container {
        background: linear-gradient(rgba(77,150,168,0.9), rgba(77,150,168,0.9)), url(../assets/tablet/image-footer.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: top center;
    }

    .footer-title {
        font-size: 2.5rem;
        line-height: 2.75rem;
        margin: 5rem auto 2rem;
        max-width: 457px;
    }

    .footer-txt {
        font-size: 1.125rem;
        max-width: 573px;
        margin-bottom: 2.5rem;
    }

    .btn-download--footer {
        margin-bottom: 4rem;
    }
}

/*Desktop-Version*/

@media (min-width: 1440px) {
    .footer-container {
        flex-direction: row;
        justify-content: center;
        align-items: center;
        padding: 7rem 10rem;
        gap: 24px;
        background: linear-gradient(rgba(77,150,168,0.9), rgba(77,150,168,0.9)), url(../assets/desktop/image-footer.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: top center;
    }

    .footer-title {
        margin-top: 0;
        margin-bottom: 0;
        text-align: left;
        max-width: 350px;
    }

    .footer-txt {
        margin-bottom: 0;
        text-align: left;
        max-width: 350px;
    }

    .btn-download--footer {
        margin-bottom: 0;
    }
}

